	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="./js/functions.js"></script>
	<footer> 
			<a href="mailto:beefacundo@yahoo.com"><span class="fa fa-envelope"></a>
			<a href="https://www.linkedin.com/in/facundobee/"><span class="fa fa-briefcase"></a>
	</footer>
	</body>
</html>