<nav class="row">
	<ol>
		<li><a href="/" rel="internal">Inicio</a></li>
		{{#if admin }}
			<li><a href="/crearCurso" rel="internal">Crear Curso</a></li>
			<li><a href="/inscriptos" rel="internal">Admin Incripciones</a></li>
		{{/if}}
		{{#if nombre }}
			<li><a href="/logout" rel="internal">Logout</a></li>
		{{else}}
			<li><a href="/login" rel="internal">Login</a></li>
		{{/if}}
	</ol>
</nav>