.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

nav {
  float: none; /* Desplazamos el nav hacia la izquierda */
}
 
nav ol {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
 
nav ol li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
 
nav ol li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #000;
  text-decoration: none;
}
 
nav ol li:hover {
  background: #blue;
}

header {
     width:100%;
     background-image:url("../img/images.jpeg");
}
header h1, h3, h4 {
  color:#C0C0C0;
}

header img {
  width: 79px;
  float: right;
  margin: auto;
  position: relative;
  top: -95px;
}

footer {
  position: fixed;
  left: 9%;
  bottom: 0px;
  height: 30px;
  width: 82%;
  text-align: center;
}

.avatar {
  width: 35px;
}


.chatty1 {
  border-right: 2px solid #C0C0C0;
}
.chatty2 {
  float: right;
  margin: auto;
  position: relative;
  top: -340px
}